.header {
    width: 100%;
    height: 100px;
    background: url("./images/bg-header-desktop.svg");
    background-color: var(--desaturated-dark-cyan);
}

@media (min-width: 360px) and (max-width: 520px) {
    .header {
        background: url("./images/bg-header-mobile.svg");
        background-color: var(--desaturated-dark-cyan);
    }
}
